<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
<body>
  <h1>{{pageTitle}}</h1>
  <p>Some Text Here</p>

//"footer" partial: refers to footer.hbs
//partial are used to simplify stuff, IOW when we want to modify things in the footer
//we can modify it directly in the footer.hbs
  {{> footer}}

</body>
</html>
