<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
<body>
  <h1>{{pageTitle}}</h1>
  //to get the welcomeMessage in upper case: call the scream it helper in server.js
  <p>{{screamIt welcomeMessage}}</p>

  <footer>
    <p>Copyright {{currentYear}}</p>
  </footer>

</body>
</html>
